

.nav a{
	color: #FFFFFF;
	padding: 50px 25px;
	font-size: 20px;
	font-family: 'Poiret One', cursive;
	
}
.nav li {
	display: inline;
}

.nav {
	background-color: #1B4775;
	padding: 25px 20px;
	position: fixed;
	opacity: .8;
	width: 100%;
	
.nav:hover{
	opacity: 1;
}

/*Tina CSS*/
.tina {
	text-align:center;
	padding: 150px 150px;
	color: #F7FBFF;
	height: 500px;
}

.tina h1{
	font-size: 150px;
	font-family: 'Lobster', cursive;
}
.tina p,a{
	font-family: 'Poiret One', cursive;
	font-size: 30px;
}

/*bio picture*/
#biotitle{
	background: url('http://fc08.deviantart.net/fs44/f/2009/077/1/a/Nebula_Effects_Fractal_Stock_by_ineedfire.jpg') 50% 0 no-repeat fixed;
	color: #FFFFFF;
	text-align: center;
	padding: 25px 50px;
	font-family: 'Lobster', cursive;
	font-size: 100px;
}

/*bio CSS*/
#bio {
	background-color: #0081C4;
	padding: 75px 150px;
	font-family: 'Poiret One', cursive;
}
#bio .info p{
	font-size: 25px;
	color: #FFFFFF;
}

#bio .info a{
	font-size:25px;
	color: #CCFFFF;
	text-decoration: underline;
}
#bio .info a:hover{
	color: #99FF99;
}
#bio .choices{
	font-size:23px;
	color: #FFFFFF;
}
