/*#home {*/
/*background: url("http://images.cdn.fotopedia.com/lsjJ4SS6HZ0-Lf5S1Zkvu2E-hd.jpg") 50% 0 repeat fixed; min-height: 1000px;*/
/*}*/

#school {
background: url("http://hd.wallpaperswide.com/thumbs/stanford_memorial_church-t2.jpg") 50% 0 no-repeat min-height: 1000px; 
}

p {
  color: blue;
}
h1{
  font: 500px;
}
